.global {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.date-picker {
    background: url(../images/icons/icon-calendar.png) #fff no-repeat left 12px center;
    background-size: 16px;
    padding-left: 38px !important;
}

/************ slider ************/
.slick-dots li button:before {
    font-size: 28px;
}

/************ #header ************/

#header .logo {
    display: none;
}


#header .header-content {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #000;
}

#header .header-content .gnb {
    height: 73px;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

#header .header-content .gnb .gnb-logo {
    display: inline-block;
    line-height: 73px;
}

#header .header-content .gnb .gnb-logo img {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

#header .header-content .gnb .gnb-right {
    display: inline-block;
    margin-left: 10px;
}

#header .header-content .gnb .gnb-right .search-field {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
}


#header .header-content .gnb .gnb-right .search-field button img {
    display: block;
}

#header .header-content .gnb .gnb-right .social-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}



#header .header-content .gnb .gnb-right .social-info ul > li img {
    display: block;
}

#header .header-content .gnb .gnb-right .lang-switcher {
    display: inline-block;
    vertical-align: middle;
}

#header .header-content .gnb .gnb-right .lang-switcher ul {
    display: flex;
    margin-left: 10px;
}

#header .header-content .gnb .gnb-right .lang-switcher ul > li {
    margin-left: 10px;
    opacity: 61%;
}

#header .header-content .gnb .gnb-right .lang-switcher ul > li:first-child {
    margin-left: 0;
}

#header .header-content .gnb .gnb-right .lang-switcher ul > li a {
    color: #fff;
    font-weight: 600;
    font-size: 21px;
}

#header .header-content .gnb .gnb-right .lang-switcher ul > li:hover,
#header .header-content .gnb .gnb-right .lang-switcher ul > li.actived {
    opacity: 100%;
}

#header .header-content .gnb .gnb-right .lang-switcher ul > li:hover a,
#header .header-content .gnb .gnb-right .lang-switcher ul > li.actived a {
    color: #ff8436;
}

#header .header-content .gnb .menu {
    position: absolute;
    right: 15px;
    top: 24px;
}



#header .header-content .gnb .book-now {
    position: absolute;
    top: 100%;
    right: 0;
    color: #fff;
    background: #ffcf0e;
    padding: 15px 20px;
    text-transform: uppercase;
    z-index: 20;
}

#header .header-content .gnb .book-now.actived {
    background: #0ab8c3;
}

#header .header-content #gnb-menu {
    position: fixed;
    top: 73px;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #ffcc00;
    transition: right 0.3s;
    z-index: 10;
}

#header .header-content #gnb-menu.actived {
    right: 0;
}

#header .header-content #gnb-menu ul {
    text-align: right;
    background: padding-box;
    padding-right: 20px;
    padding-top: 75px;
}


#header .header-content #gnb-menu ul > li a {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
}

/********** #content **********/
#content {
    padding-top: 73px;
    padding-bottom: 15px;
}

#content .column-1 {
    width: 100%;
}

#content .column-1 .column-image {
    display: block;
}

#content .column-1 .column-image img {
    display: block;
    width: 100%;
}

#content .column-1 .column-content {
    margin-top: 15px;
}



#content .column-2 .column-image img {
    width: 100%;
}

#content .column-content {
    padding: 0 15px;
}


#content .column-content .page-content .page-title {
    position: relative;
    font-size: 43px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#content .column-content .page-content .page-title:after {
    content: "";
    background: #f0f0f0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
}


#content .column-content .page-content .page-desc .page-sub-title {
    color: #6f6f6f;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 800;
}


#content .column-content .page-content .page-desc .page-main-desc p {
    margin-bottom: 1em;
}

#content .column-content .page-content .page-desc .page-main-desc a {
    color: #ffcc00;
    text-decoration: underline;
}

/*************** page-bottom *****************/

#content .column-2 .page-bottom ul {
    display: flex;
}

#content .column-2 .page-bottom ul > li {
    margin-right: 5px;
    width: 20%;
}

#content .column-2 .page-bottom ul > li:last-child {
    margin-right: 0;
}


#content .column-2 .page-bottom ul.contain-btn > li.btn {
    width: calc(40% + 5px);
}

#content .column-2 .page-bottom ul.contain-btn > li.btn a {
    display: block;
    height: 100%;
    background: #0ab8c3;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    padding: 0 20px;
    font-weight: 600;
}

#content .column-2 .page-bottom ul.contain-btn > li.btn a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#content .column-2 .page-bottom ul.contain-btn > li.btn a span:before {
    content: url("../images/icons/icon-arrow-left.png");
    margin-right: 10px;
}

#content .column-2 .page-bottom ul.contain-btn > li img {
    width: 100%;
    display: block;
}


/* faq */
#content .column-content .page-content .faq-list {
    overflow: hidden;
}

#content .column-content .page-content .faq-list li {
    color: #fff;
    padding: 20px 15px 35px 15px;
}

#content .column-content .page-content .faq-list li:nth-child(odd) {
    background: #000;
}

#content .column-content .page-content .faq-list li:nth-child(even) {
    background: #0ab8c3;
}

#content .column-content .page-content .faq-list li .faq-title {
    font-weight: bold;
    text-transform: uppercase;
}

#content .column-content .page-content .faq-list li .faq-desc {
    font-size: 15px;
}


/* choose-stay */


#content .column-content .page-content .choose-stay .choose-stay-head .choose-stay-title {
    position: relative;
    font-size: 26px;
    text-transform: uppercase;
}

#content .column-content .page-content .choose-stay .choose-stay-head .choose-stay-desc {
    font-size: 14px;
    opacity: 0.8;
}

#content .column-content .page-content .choose-stay .choose-stay-step {
    overflow: hidden;
    margin-top: 15px;
}

#content .column-content .page-content .choose-stay .choose-stay-step label {
    width: 100%;
    float: left;
    height: 74px;
    line-height: 74px;
    position: relative;
    background: #ffcc00;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

#content .column-content .page-content .choose-stay .choose-stay-step label:after {
    content: url("../images/icons/icon-arrow-down.png");
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translate(-50%, 0);
}

#content .column-content .page-content .choose-stay .choose-stay-step ul {
    display: flex;
    width: 100%;
    float: left;
    justify-content: space-between;
}

#content .column-content .page-content .choose-stay .choose-stay-step ul > li {
    width: 100%;
}

#content .column-content .page-content .choose-stay .choose-stay-step ul > li button {
    display: block;
    height: 74px;
    line-height: 74px;
    background: #000;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
    outline: 0;
}

#content .column-content .page-content .choose-stay .choose-stay-step ul > li button:hover,
#content .column-content .page-content .choose-stay .choose-stay-step ul > li button.actived {
    background: #0ab8c3;
}

#content .column-content .page-content .choose-stay .choose-stay-choice {
    overflow: hidden;
    width: 100%;
    clear: both;
}

#content .column-content .page-content .choose-stay .choose-stay-choice ul {
    margin-top: 15px;
    display: none;
}

#content .column-content .page-content .choose-stay .choose-stay-choice ul > li {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}

#content .column-content .page-content .choose-stay .choose-stay-choice ul > li a {
    display: block;
    font-weight: 900;
    font-size: 10px;
    word-break: break-word;
    color: #333;
}

#content .column-content .page-content .choose-stay .choose-stay-choice ul > li a span {
    display: block;
    padding: 5px 5px;
    background: #bfc2bd;
    font-weight: 900;
}

#content .column-content .page-content .choose-stay .choose-stay-choice ul > li a img {
    display: block;
    width: 100%;
}


#content .column-content .page-content .choose-stay .choose-stay-choice ul > li a:hover img {
    filter: brightness(1.2);
}

#content .column-content .page-content .choose-stay .choose-stay-choice ul > li a:hover span {
    background: #fff;
}


/* home */


.look-for-tour .search-tour .tour-infos .tour-info {
    background: #0ab8c3;
    color: #fff;
    padding: 25px 15px;
    height: 366px;
}

.look-for-tour .search-tour .tour-infos:not(.mobile) {
    display: none;
    margin-bottom: 10px;
    justify-content: space-between;
}

.look-for-tour .search-tour .tour-infos:not(.mobile) .tour-info {
    width: calc((100% - 20px) / 3);
    height: 400px;
}

.look-for-tour .search-tour .tour-infos .tour-info .tour-info-title {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}


.look-for-tour .search-tour .tour-infos .tour-info .tour-info-desc p {
    margin-bottom: 1em;
}

.look-for-tour .search-tour .tour-infos .tour-info .tour-info-desc p:last-child {
    margin-bottom: 0;
}

.look-for-tour .search-tour .tour-search-bar {
    background: #000;
    padding: 15px;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-title {
    display: flex;
    margin-bottom: 10px;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-title .tour-type {
    display: flex;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-title .tour-type > li {
    margin-right: 15px;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-title .tour-type > li button {
    color: #fff;
    outline: 0;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-title .tour-type > li button:hover,
.look-for-tour .search-tour .tour-search-bar .tour-search-title .tour-type > li button.actived {
    color: #ffcf0e;
    text-decoration: underline;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-title .tour-more-info {
    color: #fff;
    margin-left: auto;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-dest {
    position: relative;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-dest ul {
    display: flex;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-dest ul > li {
    width: calc(50% - 1px);
}

.look-for-tour .search-tour .tour-search-bar .tour-search-dest ul > li:last-child {
    margin-left: auto;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-dest ul > li input {
    display: block;
    width: 100%;
    line-height: 36px;
    padding: 0px 10px;
    font-weight: 900;
    border: 1px solid #000;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-dest ul > li:last-child input {
    padding-left: 18px;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-dest .switch-destination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    height: 24px;
    width: 24px;
    text-align: center;
    background: #fff;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-dest .switch-destination img {
    display: block;
    margin: auto;
    width: 12px;
}


.look-for-tour .search-tour .tour-search-bar .tour-search-action button {
    width: 100%;
    background: #ffcf0e;
    height: 38px;
    line-height: 38px;
    border: 1px solid #000;
}

.look-for-tour .search-tour .tour-search-bar .tour-search-action button img {
    margin: auto;
    vertical-align: middle;
}


/* quick-note */
.quick-note {
    position: fixed;
    top: 73px;
    right: 0;
    background: #bb0a0a;
    width: 200px;
    padding: 10px 15px;
    font-weight: 900;
    color: #fff;
    z-index: 50;
}

.quick-note .quick-note-title {
    text-transform: uppercase;
}

.quick-note .quick-note-title h3 {
    font-weight: 900;
    font-size: 18px;
    color: #000;
}

.quick-note .quick-note-msg {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
}

.quick-note .quick-note-more {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
}

.quick-note .quick-note-more a {
    color: #fff;
    text-decoration: underline;
}

/* tour-note */
.tour-note {
    background: #bb0a0a;
    padding: 20px 15px;
    color: #fff;
    margin-bottom: 10px;
}

.tour-note .tour-note-title {
    margin-bottom: 20px;
}

.tour-note .tour-note-title h3 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    line-height: 22px;
}

.tour-note .tour-note-title h3 span {
    color: #000;
}

.tour-note .tour-note-content {
    font-size: 13px;
}

.tour-note .tour-note-content p {
    margin-bottom: 1em;
}

.tour-note .tour-note-content p a {
    color: #fff;
    text-decoration: underline;
}


/****************************** responsive ******************************/
@media (min-width: 375px) {
    #header .header-content .gnb .gnb-right .search-field {
        margin-left: 10px;
    }

    #header .header-content .gnb .gnb-right .social-info {
        margin-left: 10px;
    }

    #header .header-content .gnb .gnb-right .lang-switcher {
        margin-left: 10px;
    }

    #content .column-content .page-content .page-title {
        font-size: 50px;
    }
}

@media (min-width: 568px) {
    #content .column-2 .page-bottom ul.contain-btn > li {
        width: 20%;
    }

    #content .column-2 .page-bottom ul.contain-btn > li.btn {
        width: 40%;
    }

    #content .column-content .page-content .faq-list li {
        width: 50%;
        float: left;
    }

    #content .column-content .page-content .faq-list li:nth-child(1),
#content .column-content .page-content .faq-list li:nth-child(4) {
        background: #000;
    }

    #content .column-content .page-content .faq-list li:nth-child(2),
#content .column-content .page-content .faq-list li:nth-child(3) {
        background: #0ab8c3;
    }


/* choose stay */





    #content .column-content .page-content .choose-stay .choose-stay-step label {
        width: 25%;
    }

    #content .column-content .page-content .choose-stay .choose-stay-step label:after {
        content: url(../images/icons/icon-arrow-right.png);
        top: unset;
        left: unset;
        transform: unset;
        margin-left: 10px;
    }

    #content .column-content .page-content .choose-stay .choose-stay-step ul {
        width: 75%;
    }





    #content .column-content .page-content .choose-stay .choose-stay-choice ul {
        margin-top: 0;
    }

    #content .column-content .page-content .choose-stay .choose-stay-choice ul > li {
        width: calc(100% / 7);
    }



}

@media (min-width: 667px) {
    #content .column-2 .page-bottom ul.contain-btn > li {
        width: 18%;
    }

    #content .column-2 .page-bottom ul.contain-btn > li.btn {
        width: 46%;
    }
}

@media (min-width: 736px) {
    #content .column-content .page-content .choose-stay .choose-stay-step {
        width: calc(100% / 7 * 4);
        float: right;
    }

    #content .column-content .page-content .choose-stay .choose-stay-step label:after {
        margin-left: 4px;
    }

/* home */
    .look-for-tour .search-tour .tour-infos:not(.mobile) {
        display: flex;
    }

    .look-for-tour .search-tour .tour-infos.mobile {
        display: none;
    }
}

@media (min-width: 768px) {
    #content .column-content .page-content .choose-stay .choose-stay-step label:after {
        margin-left: 4px;
    }
}

@media (min-width: 568px) and (max-width: 1024px) {
    #content .column-content .page-content .page-title br {
        display: none;
    }
}

@media (min-width: 1024px) {
    .global {
        position: fixed;
    }

/************ #header ************/

    #header .logo {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 10;
    }


    #header .header-content {
        width: 73px;
        height: 100%;
        right: 0;
        top: 0;
    }

    #header .header-content .gnb {
        height: 100%;
    }

    #header .header-content .gnb .gnb-logo {
        display: none;
    }


    #header .header-content .gnb .gnb-right {
        position: absolute;
        left: 24px;
        bottom: 15px;
        margin: 0;
        width: 100%;
        height: auto;
    }

    #header .header-content .gnb .gnb-right .search-field {
        margin: 0;
        display: block;
        position: absolute;
        bottom: 0;
    }


    #header .header-content .gnb .gnb-right .search-field button img {
        width: 28px;
    }

    #header .header-content .gnb .gnb-right .social-info {
        position: absolute;
        margin: 0;
        bottom: 50px;
    }



    #header .header-content .gnb .gnb-right .social-info ul > li img {
        width: 28px;
    }

    #header .header-content .gnb .gnb-right .lang-switcher {
        margin: 0;
        display: block;
        position: absolute;
        bottom: 140px;
        left: -46px;
        transform: rotateZ(-90deg);
    }


    #header .header-content .gnb .gnb-right .lang-switcher ul > li {
        margin-left: 30px;
    }

    #header .header-content .gnb .gnb-right .lang-switcher ul > li a {
        font-size: 26px;
    }





    #header .header-content .gnb .book-now {
        top: 0;
        right: 73px;
        width: 175px;
        height: 70px;
        font-size: 21px;
        font-weight: bold;
    }


    #header .header-content #gnb-menu {
        top: 0;
        right: -100%;
        max-width: 300px;
    }

    #header .header-content #gnb-menu.actived {
        right: 73px;
    }

    #header .header-content #gnb-menu ul {
        padding-top: 90px;
    }



    /************ #content ************/
    #content {
        padding: 0;
        height: 100%;
    }

    #content .column-1.bg-image-1 {
        background: url(../images/bg-choice-step.jpg) no-repeat;
        background-size: cover;
    }

    #content .column-1 .column-image {
        display: none;
    }

    #content .column-content .page-content .faq-list li {
        width: 25%;
    }

    #content .column-content .page-content .faq-list:nth-child(odd) li:nth-child(odd) {
        background: #000;
    }

    #content .column-content .page-content .faq-list:nth-child(odd) li:nth-child(even) {
        background: #0ab8c3;
    }

    #content .column-content .page-content .faq-list:nth-child(even) li:nth-child(odd) {
        background: #0ab8c3;
    }

    #content .column-content .page-content .faq-list:nth-child(even) li:nth-child(even) {
        background: #000;
    }

    #content .column-1.bg-image-2 {
        background: url(../images/home.jpg);
    }

    #content .column-1 {
        width: calc(100% - 73px);
        height: 100%;
        position: relative;
    }

    #content .column-1 .column-content {
        margin: 0;
    }

    #content .column-1 .column-content .page-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
    }

    #content .column-1 .column-content .page-content.bottom {
        bottom: 100px;
        top: unset;
        transform: translate(-50%, 0);
    }

    #content .column-2 {
        display: flex;
        width: calc(100% - 73px);
        height: 100%;
        position: relative;
    }

    #content .column-2 .column-image {
        width: 60%;
    }

    #content .column-2 .column-image img {
        height: 100%;
    }

    #content .column-2 .column-content {
        width: 40%;
        padding: 0;
    }

    #content .column-2 .column-content .page-content {
        position: absolute;
        padding: 0 20px;
        top: 50%;
        transform: translate(0, -50%);
    }

    #content .column-2 .column-content .page-content {
        width: 40%;
    }







    /* page-bottom */
    #content .column-2 .page-bottom {
        position: absolute;
        bottom: 30px;
        right: 20px;
        width: calc(40% + 25px);
    }





    /* choose-stay */
    #content .column-content .page-content .choose-stay .choose-stay-head {
        color: #fff;
        text-align: right;
    }

    #content .column-content .page-content .choose-stay .choose-stay-head .choose-stay-title {
        font-size: 65px;
    }

    #content .column-content .page-content .choose-stay .choose-stay-head .choose-stay-desc {
        font-size: 16px;
        margin-top: -5px;
    }

    #content .column-content .page-content .choose-stay .choose-stay-step {
        margin-top: 45px;
    }

    #content .column-content .page-content .choose-stay .choose-stay-step label:after {
        margin-left: 10px;
    }

    /* quick-note */
    .quick-note {
        top: 0;
        right: 73px;
    }
}

@media (width: 1024px) and (height: 1366px) {
    #content .column-1 .column-content .page-content.bottom {
        bottom: unset;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 1366px) {
    #content .column-1 .column-content .page-content {
        width: 70%;
    }

    #content .column-2 .column-content .page-content {
        padding: 0 30px;
    }

    #content .column-2 .page-bottom {
        right: 45px;
        width: 40%;
    }
}
